.client__title {
    margin: 50px 0 20px;
}

.client__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px 10px;
}

.client__list-item {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

@media (min-width: 1000px) {
    .client__title {
        margin: 157px 0 62px;
    }
    
    .client__list {
        margin-bottom: 100px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px 20px;
    }
    
    .client__list-item {
        font-weight: bold;
    }
}