.slider .swiper-button-next,
.slider  .swiper-button-prev {
    width: 46px;
    height: 46px;
}

.slider .swiper-button-prev::after,
.slider .swiper-button-next::after {
    content: '';
    width: 46px;
    height: 46px;
    display: block;
    background: url(../images/slider-arrow.svg) no-repeat center;
}

.slider .swiper-button-prev::after {
    transform: rotate(180deg);
}