.dropdown {
    position: relative;
}

.dropdown__button {
    padding: 8px 10px;
    display: flex;
    align-items: baseline;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: inherit;
    color: var(--black);
    background: 0;
    border: 0;
}

.dropdown__button::after {
    content: '';
    display: block;
    margin-left: 12px;
    width: 12px;
    height: 8px;
    background: url(../images/arrow-down.svg) no-repeat center;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding-left: 0;
    min-width: 100%;
    border: 1px solid black;
    list-style: none;
    transform: scaleY(0);
    transform-origin: left top;
    transition: 0.2s;
}

.dropdown__menu-button {
    padding: 5px 10px;
    font-family: inherit;
    font-size: inherit;
    background: 0;
    border: 0;
    width: 100%;
    text-align: left;
}

.dropdown__menu-button:hover {
    background-color: #ebebeb;
}

.dropdown__button:focus + .dropdown__menu {
    transform: scaleY(1);
}